* {
  margin: 0;
  padding: 0;
}
html,
body,
#app,
.app-container {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  padding: 50px;
  box-sizing: border-box;
  h1 {
    text-align: center;
    line-height: 40px;
    margin-bottom: 14px;
  }

  .react-pairs {
    .is-item {
      border-bottom: 1px dashed #ccc;
      line-height: 30px;
      background: #fefefe;
      padding: 0 10px;
      &:hover {
        background: #eee;
      }
    }
  }
}
